@import "../variables.css";

.pane {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: var(--darker);
  max-height: 80px;
  min-height: 70px;
  height: 13%;
  border-bottom: solid 1px var(--orange);
}
