@import "../variables.css";

:root {
  --borderStyle: dashed 2px var(--orange);
}

.lane-container {
  animation: fadeIn var(--animationDuration) ease-in;
  & .lane-masonry {
    margin: calc(var(--spaceBetween) * 2) auto;
  }
}
