@import "../variables.css";

.master {
  height: 60px;
  width: 100%;
  background: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 10px #000000;
}
