@import "../variables.css";

.awesome-select {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 30%;
  max-height: 60px;
  overflow-y: auto;

  & .option {
    cursor: pointer;
    border: solid 1px var(--orange);
    font-size: 11pt;
    text-align: center;
    padding: 2px;

    transition:
      background var(--animationDuration) ease-in;
  }

  & .option:--enter, & .option.selected {
    background: var(--orange);
  }

}
