@import "../variables.css";

.lanes-panel {
  padding: 10px;

  & .title {
    text-align: center;
    font-size: 16pt;
  }

  & .lane {
    margin-bottom: 15px;

    & .lane-bar {
      border-bottom: solid 3px var(--tertiary-color);

      & > p {
        display: inline-block;
      }

      & .delete {

        cursor: pointer;
        float: right;
        margin-top: -3px;

        & img {
          height: 20px;
          width: 20px;
        }

      }
    }


  }

}
