@import "../variables.css";

.effects-editor {
  padding: 5px;

  & h1 {
    text-align: center;
    font-size: 16pt;
  }


  & .effects {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    & div.effect  {
      margin-top: 10px;
      box-shadow: 0px 0px 10px #000;
      margin-right: 5px;
    }

    & .effect-value-group {
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      & .effect-bar {
        border-bottom: solid 3px var(--tertiary-color);
        width: 100%;

        & > p {
          display: inline-block;
        }

        & .turn-off {
          cursor: pointer;
          display: inline-block;
          float: right;
          & img {
            height: 20px;
            width: 20px;
          }
        }

        & .turn-off:hover img, & .turn-off:active img, & .turn-off:focus img {
          border: dashed 2px var(--tertiary-color);
        }

      }
    }

    & .activate-effect {
      text-align: center;
      background: var(--tertiary-color);
      width: 100%;
      margin-bottom: 10px;
      padding-top: 5px;
      padding-bottom: 5px;

      & .activate {
        background: var(--primary-color);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 5px auto;
        cursor: pointer;
        padding: 3px;
        box-shadow: 0px 0px 10px #000;
        & img {
          height: 30px;
          width: 30px;
        }
      }

      & .activate:hover img, & .activate:focus img, & .activate:active img {
        width: 40px;
        height: 40px;
        margin-top: -5px;
        margin-left: -5px;
      }

    }


  }

}
