@import "../variables.css";

:root {
  --barColor: color( var(--darker) alpha(80%) );
}

.track {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  width: 120px;
  background: color( var(--orange) alpha(80%) );
  margin-bottom: 10px;
  box-shadow: 10px 10px 50px var(--shadowColor);
  border-radius: 4px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  transition:
    box-shadow var(--animationDuration) ease-in,
    transform var(--animationDuration) ease-in,
    background var(--animationDuration) ease-in;

  & .title-bar {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    background: var(--barColor);

    display: flex;
    align-items: center;
    justify-content: space-between;

    & .bar-icon {
      background: color( #FFF alpha(70%) );
      border-radius: 50%;
      padding: 1px;
      transition: transform var(--animationDuration) ease-in;
      cursor: pointer;
    }

    & .bar-icon:--enter {
      transform: rotate(-40deg);
    }

    & .bar-icon img {
      height: 18px;
      width: 18px;
    }

    & .name {
      & input {
        max-width: 80px;
      }
    }

  }

  & .body {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 74px;

    & .loudness {
      flex-grow: 0.01;
      width: 3px;
      background: var(--darkest);
      align-self: flex-end;
    }

    & .icon {
      flex-grow: 0.99;
      text-align: center;
      cursor: pointer;
    }

    & .icon img {
      height: 30px;
      width: 30px;
      border: dashed 2px color( #FFF alpha(70%) );
      border-radius: 50%;
      transition: border-radius var(--animationDuration) ease-in, border-color var(--animationDuration) ease-in;
    }

    & .icon img:--enter {
      border-radius: 10px;
      border-color: var(--darker);
    }

  }

  & .slider-container {
    padding: 3px;
    background: var(--barColor);
  }
}

.track:--enter {
  box-shadow: 10px 20px 50px var(--shadowColor);
  transform: rotateX(5deg) rotate(1deg);
  background: var(--orange);
}

.slider-container {
  & .center {
    margin: 0 auto;
  }
}
