@import "../variables.css";

.record-btn {
  height: 40px;
  width: 40px;
  border: dashed 1px var(--orange);
  background: color( var(--orange) alpha(30%) );
  border-radius: 50%;

  transition:
    all var(--animationDuration) ease-in;


}

.record-btn.recording {
  border-radius: 30%;
  box-shadow: 0px 0px 10px var(--shadowColor);
  animation:
    bgAnimation 1s infinite alternate linear;
}

@keyframes bgAnimation {
  from {
    background: color( var(--orange) alpha(30%) );
  } to {
    background: color( var(--red) alpha(100%) );
  }
}
