@import "../variables.css";

body {
  font-family: Ubuntu, Calibri, Roboto, sans;
  color: #FFF;
  overflow-y: hidden; /* Prevent reload on scroll */
}

* {
  margin: 0;
  padding: 0;
}

.app-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
