@import "../variables.css";

body {
  font-family: Ubuntu, Calibri, Roboto, sans;
  color: #FFF;
  overflow-y: hidden; /* Prevent reload on scroll */
  user-select: none; /* Prevent browser from performing any action when text is selected */
}

* {
  margin: 0;
  padding: 0;
}

.app-content {

}

.blur {
  filter: blur(4px);
}

.looper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
